<th>Showing courses and grades for <%= @student.name %></p>
<table class="table table-sm">
  <thead class="thead-light">
    <tr>
      <th scope="col">Course</th>
      <th scope="col" class="text-center">Grade %</th>
      <th scope="col" class="text-center">Letter Grade</th>
      <th scope="col" class="text-center">Points for GPA</th>
    </tr>
  </thead>
  <tbody>
    <% @student.grades.map do |g| %>
    <tr>
      <td scope="row"><%= g.get_course_title %></td>
      <td class="text-center"><%= g.percentage.round(1) %></td>
      <td class="text-center"><%= g.percnt_to_ltr %></td>
      <td class="text-center"><%= g.ltr_to_grd_pts %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<p>GPA for current term: <%= @gpa&.round(2) %></p>
