<% if @current_user.admin? %>
  <p><%= link_to "Go back to viewing all Students' grades", students_path %></p>
  <br />
  <p>You are viewing grades for <%= @student.name %></p>
<% end %>

<p>Current term GPA: <%= @student.gpa&.round(2) %> out of 4.0</p>
<% if @current_user.student? %>
  <p>Here are your courses and grades for the current term.</p>
<% end %>
<table class="table table-sm">
  <thead class="thead-light">
    <tr>
      <th scope="col">Course</th>
      <th scope="col" class="text-center">Grade</th>
      <th scope="col" class="text-center">Letter Grade</th>
      <th scope="col" class="text-center">Points for GPA</th>
    </tr>
  </thead>
  <tbody>
    <% @student.enrollments.map do |g| %>
    <tr>
      <td scope="row"><%= g.course_course_title %></td>
      <td class="text-center"><%= g.grade&.round(1) %></td>
      <td class="text-center"><%= g.percnt_to_ltr %></td>
      <td class="text-center"><%= g.ltr_to_grd_pts %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<br />
<% if @current_user.admin? %>
  <p>
    <%= link_to "See full list of courses offered this term", courses_path %>
  </p>
<% else %>
  <p>To see other courses offered this term, visit: <%= link_to "Course List", courses_path %></p>
<% end %>
