<p>
  <%= link_to "Go back to your course roster", course_path(@course.id) %>
</p>
<br />
<p>This page allows you to add students to: <%= @course.course_title %></p>

<p>Students who are already enrolled in 4 courses cannot add another class without special permission. Submit a student's name below to see if they are eligible to be added.</p>

<%= form_tag(course_enrollments_path, :method => "post") do  %>
  <p>
    <%= label_tag :students_name %><br />
    <%= text_field_tag :students_name %>
  </p>
  <p>
    <%= submit_tag("Submit") %>
  </p>
<% end %>
