<p>
  <%= link_to "Go back to your Teacher's homepage view", teacher_path(@course.teacher_id) %>
</p>
<br />
<h1>Roster for <%= @course.course_title %></h1>
<p>Average for enrolled students: <%= @course_avg %></p>
<p>Current enrollment: <%= @course.enrollments.count %></p>
<br />
<table class="table table-sm">
  <thead class="thead-light">
    <tr>
      <th scope="col">Student</th>
      <th scope="col" class="text-center">Grade (%)</th>
      <th scope="col" class="text-center">Letter Grade</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @course.enrollments.select {|gp| !gp.grade.nil? }.sort_by{|p| -p.grade }.map do |g| %>
    <tr>
      <td scope="row"><%= g.student_name %></td>
      <td class="text-center"><%= g.grade&.round(1) %></td>
      <td class="text-center"><%= g.percnt_to_ltr %></td>
      <td class="text-center"><%= link_to "Update Grade", edit_course_enrollment_path(@course.id, g.id) %></td>
      <td class="text-center"><%= link_to "Drop Student", course_enrollment_path(@course.id, g.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
    <% @course.enrollments.select {|gp| gp.grade.nil? }.map do |g| %>
    <tr>
      <td scope="row"><%= g.student_name %></td>
      <td class="text-center"></td>
      <td class="text-center"></td>
      <td class="text-center"><%= link_to "Add Grade", edit_course_enrollment_path(@course.id, g.id) %></td>
      <td class="text-center"><%= link_to "Drop Student", course_enrollment_path(@course.id, g.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<p>
  <%= link_to "Add a new student to this course",  new_course_enrollment_path(@course.id) %>
</p>
