<!DOCTYPE html>
<html>
  <head>
    <title>Gradebook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <% if @current_user %>
          <p>Welcome, <%= @current_user.get_proper_name %> | <%= link_to "Logout", logout_path, :method => :delete %></p>
        <% else %>
        <% end %>
    </nav>
    <div id="container">
      <% flash.each do |type, msg| %>
        <% if msg.kind_of?(Array) %>
          <% msg.each do |_, m| %>
          <%= content_tag(:div, m.join(''), class: "alert alert-#{type}") %>
        <% end %>
        <% elsif msg.kind_of?(String) %>
          <%= content_tag(:div, msg, class: "alert alert-#{type}") %>
        <% end %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
